header{
  background-color: var(--primary);
}
.header__navigation {
  display: grid;
  grid-template-columns: 5% 87.5% 2.5% 5%;
}
.header__logo {
  margin: auto auto;
}
.header__name{
  color: #fff;
}
