.login-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Ancho del formulario */
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #333;
  color: white;
  cursor: pointer;
}

.register-text {
  text-align: center;
  display: block;
  margin-top: 20px;
  color: #666;
}

.login-form input[type="submit"]:hover {
  background: #555;
}

.login-title {
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}
