.booking {
  background: #fff;
  height: 90rem;
  margin: 5rem auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.booking__image{
  display: flex;
  justify-content: center;
  padding: 5rem 5rem ;
}

.booking__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

.booking__reservation{
  margin-top: 5rem;
}


.reservation__form {
  display: flex;
  flex-direction: column;
}

.reservation__form label {
  margin-top: 10px;
}

.reservation__form  select,
.reservation__form  input {
  padding: 10px;
  margin-top: 5px;
}

.reservation__form button {
  padding: 10px;
  margin-top: 20px;
  background-color: #005f6b;
  color: white;
  border: none;
  cursor: pointer;
}

.reservation__form  button:hover {
  background-color: #0093ab;
}
