footer{
  background-color: var(--primary);
  background-size: 10rem;
}
.footer__menu {
  display: grid;
  grid-template-columns: 5% 15% 60% 20%;
}
.footer__logo {
  margin: auto auto;
}
.footer__name{
  color: var(--white);
}
.footer__copyright{
  text-align: center;
  color: var(--white);
  margin: auto 0;
}
